:root {
    --bg-color: #1a1c1d;
    --bg-color-light: #262B2E;
    --select-color: #1e262d;
    --text-color: #E1E1E1;
    --dashboard-font: sans-serif;
}

html {
    background-color: var(--bg-color);
}

body {
    background-color: var(--bg-color);
}

.line-graph-div {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin-inline: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 1415px;
}
.wrapper {
    background-color: var(--bg-color);
    text-align: center;
}

.pie-chart-div {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    max-width: 700px;
    display:inline-block;
}

.bar-chart-div {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin-left: 15px;
    border-radius: 5px;
    max-width: 700px;
    display: inline-block;
}

.Select-control { /* Select bar when dropdown menu is closed */
    background-color: var(--bg-color-light);
}

.Select-multi-value-wrapper { /* Select bar behind chosen items */
    background-color: var(--bg-color-light);
}

.Select-value-icon { /* Selected item icon portion */
    background-color: var(--select-color);
    color: var(--text-color);
    border-color: var(--select-color);
}

.Select-value-label { /* Selected item text portion */
    background-color: var(--select-color);
    color: var(--text-color);
    border-color: var(--select-color);
    font-family: var(--dashboard-font);
}

.Select-menu-outer { /* Dropdown menu list */
    background-color: var(--select-color);
}

.VirtualizedSelectFocusedOption { /* Dropdown menu item hover */
    background-color: var(--bg-color-light);
}

p {
    color: var(--text-color);
    padding-left: 20px;
    font-family: var(--dashboard-font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    text-align: center;
    font-family: var(--dashboard-font);
}
